.estiloPrincipal{
    top:"0";
    left:"0";
    width:"50%";
    background-size: cover;
    background-repeat: no-repeat; 
  }

.left-buttons{
  display:block;
  align-items: left;
  width: 50%;
  gap: 10px;
}
.right-buttons{
  display: flex;
  gap: 10px;
}
.navbar button:hover{
  background-color: #777;
}
.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #00cd0a;
  padding: 10px;
}