.loginBox {
    float: right;
    align-items: center;
    font-family: ""; 
    border: 10px solid white;
    border-image: linear-gradient(to top, lime, cyan, OrangeRed) 3;
    border-radius: 10%;
    /* border-color: black; */
    padding-right: 10px;
    font-weight: bold;
    width: 300px;
    background-image: url(https://i.pinimg.com/564x/22/99/7d/22997de0e5d4d4a1f2e6591b8656a646.jpg);
    background-size: cover;
    background-position: center;
    height: auto;
    place-items: left;
    
    top: 50%;
    left: 50%;
    width: 300px;
    transform: translate(-50%);
    /* background: rgba(0, 0, 0, 5); */
    box-sizing: border-box;
    box-shadow: 0 15px 45px rgba(0, 0, 0, 6);
    
}

.loginBox h2{
    margin: 0 0 30px;
    font-family: "fuente";
    padding: 0;
    color: #fff;
    text-align: center;
}
.loginBox .user-Box{
    position: relative;
}
.loginBox .user-box input{
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid#fff;
    outline: none;
    background: transparent;
}
.loginBox .user-box label{
    position: absolute;
    top: 0;
    left: 0;
    font-family: "fuente";
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;

}
.loginBox .user-Box input :focus  label,
.loginBox .user-Box input :valid  label{
    top: -20px;
    left: 0;
    color: #03e9f4;
    font-size: 12px;

}
.loginBox form{
position: relative;
display: inline-block;
padding: 10px 20px;
color: #03e9f4;
font-size: 14px;
text-decoration:dashed;
text-transform: uppercase;
overflow: hidden;
transition: .5s;
margin-top: 10px;
letter-spacing: 4px;
}
.loginBox a:hover{
    background: #03e9f4;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 100px #03e9f4,;
    
}
.loginBox a span{
    position: absolute;
    display: block;

}
.loginbox a span:nth-child(1){
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,
    transparent, #03e9f4);
    animation: btn-anim1 1s linear infinite;

}
.overlay{
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color:  rgba(0, 0, 0, 0.7);
pointer-events: painted;
transition: opacity 0.5s ease ease-in-out;
z-index: 9999;
}
.overlay-visible{
    opacity: 1;
    pointer-events: auto;
}
.gif-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10000;
    pointer-events: none;
}
.gif{
    width: 500px;
    height:500px;

}
.gif-enter{
    opacity: 0;
    transform:scale(0.8);
    transition: opacity 0,5s ease, transform 0,5s ease;
}
.gif-enter-active{
    opacity:1;
    transform: scale(1); 
}
.gif-exit{
    opacity: 1;
    transform: scale(1);
    transition: opacity 0,5s ease, transform 0,5s ease;

}
.gif-exit-active{
    opacity: 0;
    transform: scale(0.8);
}
@keyframes btn-anim1 {
    0%{
        left: -50%;
    }
    50%, 100%{
        left: 50%;
    }
}
.loginBox a span:nth-child(2){
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, 
    transparent, #03e9f4);
    animation: btn-anim2 1s linear infinite;
    animation-delay: 10s; 

}
@keyframes btn-anim2 {
    0%{
        top: -100%;
    }
    50%, 100%{
        top: 100%;
    }
}
.loginBox a span:nth-child(3){
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg,
    transparent, #03e9f4);
    animation: btn-anim3 1s linear infinite;
    animation-delay: .5s;
}
@keyframes btn-anim3{
    0%{
        right: -100%;
    }
    50%, 100%{
        right: 100%;
    }
}
.loginBox a span:nth-child(4){
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, 
    transparent, #03e9f4);
    animation: btn-anim4 1 seg linear infinite;
    animation-delay: 5s;
}
@keyframes btn-anim4{
    0%{
        bottom: -100%;
    }
    50%, 100%{
        bottom: 100%;
    }
}
       